* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  /* background: linear-gradient(45deg, rgb(48, 48, 48), rgb(107, 102, 102)); */
  background-color: black;
}

.container {
  max-width: 90vw;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SliderShow */

.img_container {
  display: flex;
  width: 500px;
  height: 500px;
  z-index: 99;
  overflow: hidden;
  border-radius: 17px;
  box-shadow: 5px 5px 50px #252525d6;
  transition: all .5s ease;

}

.img_container img {
  width: 500px;
  height: 500px;
}

.btn_container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  z-index: 999;
}

.img_box {
  display: flex;
  transition: all .5s ease-in-out;
}

.btn_left, .btn_right {
  height: 100vh;
  width: 100px;
  border: none;
  cursor: pointer;
  background-color: rgba(146, 143, 138, 0.734);
  transition: all .3s ease-in-out;
}

button i {
  transition: all .3s ease-in-out;
}

.btn_left {
  border-radius: 0px 50px 50px 0px;
}

.btn_right {
  border-radius: 50px 0px 0px 50px;
}

.btn_left:hover i, .btn_right:hover i {
  color: rgba(255, 255, 255, 0.635);
}

.btn_left:hover, .btn_right:hover {
  background-color: rgba(193, 190, 187, 0.734);
}

button i {
  font-size: 50px;
  color: rgba(34, 36, 36, 0.183);
}

.img {
  transform: translateX(0px);
}
